#team {
  background-image: url("../img/team_bac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #f2f2f2;
}

.team__desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #f2f2f2;
}

.team__prof-blok {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.team__prof-blok--cont {
  background: rgba(242, 242, 242, 0.7);
  max-width: 270px;
  min-height: 415px;
  margin: 0 20px 20px 0;
}

.team__button-block {
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #fff;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  height: 41px;
  width: 200px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.team__button-block a {
  font-size: 13px;
  color: #e8e8e8;
  text-decoration: none;
}

.prof__name {
  padding: 32px 0 0 0;
  font-size: 15px;
  font-weight: 700;
}

.prof__specialty {
  font-size: 14px;
  padding: 10px 0 0 0;
  opacity: 0.8;
}

.prof__soc {
  padding: 23px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prof__soc a {
  height: 24px;
  width: 24px;
  background: #313233;
  text-decoration: none;
  border: 1px solid #313233;
  -webkit-border-radius: 51px;
          border-radius: 51px;
  color: #f2f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2px;
}

.prof__soc a i {
  margin: auto;
}

.line__white {
  height: 2px;
  width: 40px;
  background: #f2f2f2;
  margin: 15px auto;
}
